@import"variables";
.statics{
    background-color:$secondary-Color;
    padding-top: 80px;
    padding-bottom: 80px;
    .text{
        h1{
            
            font-size:70px ;
            font-family: $font-family;
            color: $primary-Color;
      
          }
         p{
           margin-bottom: 80px;
           font-family: $font-Color;
           color: $accent-Color;
           font-size: 20px;
         }
    }
    img{
        width: 150px;
        height: 150px;
    }
}


@media(max-width:991px){
  .statics{
    img{
      margin-bottom: 25px;
      width: 150px;
      height: 150px;
  }
  }
}

@media(max-width:512px){
  .statics{

 padding-top:60px ;
 padding-bottom: 60px;
  }
}